@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,900&display=swap');

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
*{
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
 
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1440px;
padding: 20px;
margin: 50px auto;
}
header{
  padding: 40px;
  border-bottom: 2px solid rgb(221, 213, 213);
    img{
      margin-right: 15px;

    }

    h3,
    p {
      margin: 0;
    }

  }
.content{
  padding: 40px 0;
  
  
&__title {
    font-weight: 800;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
    }    

&__items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: 1060px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 730px) {
      grid-template-columns: repeat(1,1fr);
    }
  }
  

}
.card{
  font-size: small;
  border: 1px solid rgb(218, 214, 214);
  width: 200px ;
  padding-bottom: 10px;
  
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
    cursor: pointer;
  }
  p{
    margin: 0;
    text-align: center;
  }
  img{
    border-radius: 8px 8px 0 0 ;
  }
  
}
.button{
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    background-color: #f2f2f2;
    cursor: pointer;
  }
}



.drawer{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.overlay{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  
}
h2{
  margin: 0;
}
.cartTotalBlock{
  li{
    display: flex;
    align-items: flex-end;
  }
  div{
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
  }
}
.categories {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  padding-left: 50px;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      
      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
  @media(max-width:1260px){
    flex-direction: column-reverse;
  }
}
.cart{
  display: flex;
  

  &__title{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  &__items{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #282828;
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
  }
  &__bottom-buttons{
    padding: 12px 0 14px;
    width: 230px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }
}